body{
    background-color: #1a1a1a;
    color:#f2f2f2;
}

.card{
    background-color: #242424;
}

.form-label{
    color:#cccccc!important;
}

.form-control{
    background-color: #383838!important;
    color:#f2f2f2!important;
    border:1px solid #383838!important;
}

.form-control::placeholder{
    color:#919191!important;
}

.bg-svelte{
    border:#ff3e00 1px solid!important;
    background-color: #ff3e00!important;
    color: #fff!important;
}

.bg-svelte:hover{
    opacity:0.9;
}

.bg-svelte:active{
    opacity:0.7;
}

.btn-border{
    border:1px solid #383838;
    background-color: #242424!important;
    color: #fff!important;
}

img.logo{
    filter: drop-shadow(0px 0px 10px #181818);
}

input:focus{
    box-shadow: none!important;
    border:1px solid #424242!important;
}

textarea:focus{
    box-shadow: none!important;
    border:1px solid #424242!important;
}

input:focus .input-group{
    border:1px solid #424242!important;
}

.btn:focus{
    box-shadow: none!important;
}

.btn-success{
    background-color: #37bb63!important;
    border-color: #37bb63!important;
}

.btn-danger{
    background-color: #c93434!important;
    border-color: #c93434!important;
}

.inner-card{
    border:1px solid #424242;
    background-color: #383838;
    color:#ccc;
}

.border-div{
    border:1px solid #555555;
}

.card-title-link{
    color:#6188f3;
}

.card-content-p{
    margin-bottom:0.4rem;
}

.inner-card h5{
    color:#f3f3f3;
}

.inner-card small{
    color:#a8a8a8;
}

.card-header-section{
    margin-bottom:-0.2rem;
}

.btn-pagination{
    padding-top:0rem!important;
    font-size:20px;
}